.compBg {
  background: var(--navbarblue);
  min-height: 100vh;
  padding-bottom: 1.5rem;
}

input,
select {
  margin-top: 0.25rem;
}
.labels {
  color: var(--textyellow);
}

.customError {
  color: var(--turquoiseblue);
}

.addNew {
  background: var(--textyellow);
  color: black;
}

.addNew:hover {
  background: black;
  color: var(--textyellow);
}

.addnew {
  border: none;
}
