<div class="compBg">
  <div class="w-100 d-flex justify-content-center align-items-center py-3">
    <img [src]="painting.pUrl" style="width: 20%" />
  </div>

  <div class="container">
    <div class="col-6 offset-3">
      <form #paintingForm="ngForm" (ngSubmit)="onSubmit(painting)">
        <div class="form-group">
          <label for="title" class="labels">Title</label>
          <input
            type="text"
            name="title"
            id="title"
            [(ngModel)]="painting.title"
            class="form-control"
            required
          />
          <div
            [hidden]="
              paintingForm.controls['title']?.valid ||
              paintingForm.controls['title']?.pristine
            "
            class="error-message customError"
          >
            Please add the painting's title!
          </div>
        </div>
        <div class="form-group">
          <label for="painter" class="labels">Painter</label>
          <input
            type="text"
            name="painter"
            id="painter"
            [(ngModel)]="painting.painter"
            class="form-control"
            required
          />
          <div
            [hidden]="
              paintingForm.controls['painter']?.valid ||
              paintingForm.controls['painter']?.pristine
            "
            class="error-message customError"
          >
            Please add the painter's name!
          </div>
        </div>
        <div class="form-group">
          <label for="year" class="labels">Year</label>
          <input
            type="text"
            name="year"
            id="year"
            [(ngModel)]="painting.year"
            class="form-control"
            required
          />
          <div
            [hidden]="
              paintingForm.controls['year']?.valid ||
              paintingForm.controls['year']?.pristine
            "
            class="error-message customError"
          >
            Please add which year the painting was created!
          </div>
        </div>
        <div class="form-group">
          <label for="link" class="labels">Painting's URL</label>
          <input
            type="text"
            name="link"
            id="link"
            [(ngModel)]="painting.pUrl"
            class="form-control"
            required
          />
          <div
            [hidden]="
              paintingForm.controls['link']?.valid ||
              paintingForm.controls['link']?.pristine
            "
            class="error-message customError"
          >
            Add the painting's URL!
          </div>
        </div>
        <div class="form-group">
          <label for="wishlist" class="labels">Wishlist</label>
          <select
            name="wishlist"
            type="select"
            id="wishlist"
            [(ngModel)]="painting.isOnWishlist"
            class="form-control"
            required
          >
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
          <div
            [hidden]="paintingForm.controls['wishlist']?.valid"
            class="error-message customError"
          >
            Would you like to see this painting on your wall?
          </div>
        </div>
        <div class="d-flex justify-content-center pt-3">
          <button
            type="submit"
            [disabled]="paintingForm.invalid"
            class="btn btn-block addNew"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
