.siteBg {
  background-image: url("../../../assets/images/smaller\ Starry\ Night\ sky\ \(6_\ repeat\)jo.jpg");
  background-size: 20%;
  padding-bottom: 1rem;
}

.addNew {
  background: var(--orange);
  color: black;
}

.addNew:hover {
  background: black;
  color: var(--orange);
}

.addnew {
  border: none;
}
