.siteBg {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("../../../assets/images/smaller\ Starry\ Night\ sky\ \(6_\ repeat\)jo.jpg");
  background-size: 20%;
  padding-bottom: 1rem;
  min-height: 100vh;
}

.addNew {
  background: var(--textyellow);
  color: black;
}

.addNew:hover {
  background: black;
  color: var(--textyellow);
}

.addnew {
  border: none;
}
