.background {
  background-image: url(../../../assets/images/2728px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.textbox {
  background-color: rgba(8, 30, 67, 0.8);

  width: 75vw;
  height: 50vh;
  border: 2px solid var(--mildyellow);
  border-radius: 5px;
}
.text {
  color: rgba(127, 197, 220, 1);
  font-family: Elegant;
  font-weight: lighter;
  font-size: 1.5rem;
}

.addNew {
  background: var(--orange);
  color: black;
}

.addNew:hover {
  background: black;
  color: var(--orange);
}

.addnew {
  border: none;
}

.btnEdit {
  background: var(--lightblue);
  color: black;
}
.btnEdit:hover {
  background: black;
  color: var(--lightblue);
}
