.navbar {
  background-color: var(--bgblue);
  border-bottom: 1px solid var(--neutralwhite);
}

.navbar-brand {
  color: var(--textyellow);
}

.navbar-toggler {
  background-color: var(--textyellow);
}

.nav-link {
  color: var(--mildyellow);
}
