<div class="siteBg">
  <app-painting-filter
    (searchKeyChange)="onSearchKeyChange($event)"
    (searchPhraseChange)="onSearchPhraseChange($event)"
  ></app-painting-filter>
  <div class="d-flex">
    <button [routerLink]="['/paintingeditor']" class="btn addNew mx-auto">
      Add New Painting
    </button>
  </div>
  <div class="container py-3">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th (click)="onHeaderSort('title')">
              Title <i class="fa fa-sort"></i>
            </th>
            <th (click)="onHeaderSort('painter')">
              Painter <i class="fa fa-sort"></i>
            </th>
            <th (click)="onHeaderSort('year')">
              Year <i class="fa fa-sort"></i>
            </th>
            <th>Image Link</th>
            <th>Wishlist</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let painting of paintings
                | sort: headerSortPhrase:isSorted
                | filter: key:phrase
            "
          >
            <td>
              {{ painting.title }}
            </td>
            <td>{{ painting.painter }}</td>
            <td>{{ painting.year }}</td>
            <td>
              <a target="_blank" [href]="painting.pUrl">Link</a>
            </td>
            <td>{{ painting.isOnWishlist | wishlist }}</td>
            <td>
              <div class="btn-group">
                <button
                  [routerLink]="['/paintingeditor/', painting.uniqueId]"
                  class="btn btnEdit"
                >
                  <i class="fa fa-pencil"></i>
                </button>
                <button (click)="onDelete(painting)" class="btn btnDelete">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
