.siteBg {
  background-image: url("../../../assets/images/smaller\ Starry\ Night\ sky\ \(6_\ repeat\)jo.jpg");
  background-size: 20%;
  height: 100%;
}

.table {
  background: var(--bgblue);
}

.addNew {
  background: var(--orange);
  color: black;
}

.addNew:hover {
  background: black;
  color: var(--orange);
}

.addnew {
  border: none;
}

th {
  color: var(--turquoiseblue);
}
td {
  color: var(--mildyellow);
}

.btnEdit {
  background: var(--lightblue);
  color: black;
}
.btnEdit:hover {
  background: black;
  color: var(--lightblue);
}

.btnDelete {
  background: var(--orange);
  color: black;
}

.btnDelete:hover {
  background: black;
  color: var(--orange);
}
