:root {
  --navbarblue: rgb(19, 43, 65);
  --bgblue: rgb(8, 30, 67);
  --textyellow: rgb(255, 202, 94);
  --mildyellow: rgb(238, 226, 166);
  --neutralwhite: rgb(255, 253, 248);
  --turquoiseblue: rgb(127, 197, 220);
  --lightblue: rgb(72, 136, 200);
  --orange: rgb(219, 144, 28);
}

@font-face {
  font-family: Elegant;
  src: url("./assets/fonts/Elegant.ttf");
}
